<!DOCTYPE html>
<html>

  <head>
    <title> <%= title %> </title>
    <!--CSS section-->
   
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' /> <!--bootstrapt must before app.css for popover-->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' />  
    <link rel='stylesheet' href='/content/app.css' />
    <link rel='stylesheet' href='/content/full-width.css' />
    <link rel='icon' type= 'image/x-icon' href ='/assets/images/favicon.ico'>
    <!--CSS links for specific content-->
    <%if (title == "ABOUT") { %><link rel="stylesheet" href="/content/about.css"><% } %>
    <%if (title == "PROJECT") { %><link rel="stylesheet" href="/content/project.css"><% } %>
    <%if (title == "SERVICE") { %><link rel="stylesheet" href="/content/service.css"><% } %>
    <%if (title == "ABOUT") { %><link rel="stylesheet" href="/content/about.css"><% } %>
    <%if (title == "HOME") { %><link rel="stylesheet" href="/content/home.css"><% } %>
  </head>

  <body>
  <!--Partial:header-->
  <% if (title == "HOME") 
     { %>
          <% } else if (title == "ABOUT") { %>
          <%- include('./partials/header.ejs') %>

          <% } else if (title == "CONTACT") { %>
          <%- include('./partials/header.ejs') %>

          <% } else if (title == "PROJECT") { %>
          <%- include('./partials/header.ejs') %>

          <% } else if (title == "SERVICE") { %>
          <%- include('./partials/header.ejs') %>
      <% }
    %>

  <!--Partial:content and footer-->
  <div id="main" class="main_wrapper">
       
    <div id="grid_placeholder" class="main_grid_constraint"></div> 
    <div id="content_in_main_wrapper" class="main_grid_constraint">  
   
    <% if (title == "HOME") 
     { %>
          <% } else if (title == "ABOUT") { %>
           <%- include('./partials/content.ejs') %>

          <% } else if (title == "CONTACT") { %>
           <%- include('./partials/content.ejs') %>

          <% } else if (title == "PROJECT") { %>
           <%- include('./partials/content.ejs') %>

          <% } else if (title == "SERVICE") { %>
           <%- include('./partials/content.ejs') %>
      <% }
    %>

  <!----------------------->
  <!------page link-------->
  <!----------------------->
  <% if (title == "HOME") 
    { %>
        <%- include content/home.ejs %>

        <% } else if (title == "ABOUT") { %>
        <%- include content/about.ejs %>

        <% } else if (title == "PROJECT") { %>
        <%- include content/project.ejs %>

        <% } else if (title == "SERVICE") { %>
        <%- include content/service.ejs %>
    <% }
  %>

    <% if (title == "HOME") 
  { %>
      <% } else if (title == "ABOUT") { %>
        <%- include('./partials/footer.ejs') %>

      <% } else if (title == "CONTACT") { %>
        <%- include('./partials/footer.ejs') %>

      <% } else if (title == "PROJECT") { %>
        <%- include('./partials/footer.ejs') %>

      <% } else if (title == "SERVICE") { %>
        <%- include('./partials/footer.ejs') %>
  <% }
 %>
   
  </div>
  </div> 
 
   <!--JS section-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script> <!--Jquery must before bootstrap for popover-->  
  <script src='/scripts/app.js'></script>
  <script src='/scripts/nav.js'></script>
  <script src=' https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
  </body>

</html>
