<!DOCTYPE html>
<html>

  <head>
    <title> <%= title %> </title>
    <!--CSS section-->
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' /> 
    <link rel='stylesheet' href='/content/app.css' />
    <link rel='stylesheet' href='/content/full-width.css' />
    <link rel='stylesheet' href='/content/contact.css' /> 
    <link rel='icon' type= 'image/x-icon' href ='/assets/images/favicon.ico'>
  </head>

  <body>
  <!--Partial:header-->
  <%- include('../partials/header.ejs') %>
    
  <!--Partial:content and footer-->
  <div id="main" class="main_wrapper">
       
    <div id="grid_placeholder" class="main_grid_constraint">
    </div> 
    
    <div id="content_in_main_wrapper" class="main_grid_constraint">  
    <%- include('../partials/content.ejs') %>

<!----------------------->
<!------page content----->
<!----------------------->
<main class="container">
  <div class="row">
    <div class="offset-md-l col-md-ll">
      <a href="/book-list/add" class="btn btn-primary" role="button">Add</a>
      <br>  
        <div class="table table-bordered table-striped table-hover">
          <table>
           <!--Header row-->
            <tr>
              <th class="text-center col-2">Name:</th>
              <th class="text-center col-2">Author:</th>    
              <th class="text-center col-2">Published:</th>  
              <th class="text-center col-2">Desription:</th>  
              <th class="text-center col-2"></th>  
              <th class="text-center col-2"></th>  
            </tr>

            <!--Repearable Template Row-->
         
            <% for(let count=0;count<BookList.length;count++){ %> 
               <tr>
                  <td class="text-center col-2"><%= BookList[count].name %></td>
                  <td class="text-center col-2"><%= BookList[count].author %></td>
                  <td class="text-center col-2"><%= BookList[count].published %></td>
                  <td class="text-center col-2"><%= BookList[count].description %></td>
                  <td class="text-center col-2"><a href="/book-list/edit/<%= BookList[count]._id %>" class="btn btn-primary">Edit</a></td>
                  <td class="text-center col-2"><a id="cancel" href="/book-list/delete/<%= BookList[count]._id %>" class="btn btn-danger">Delete</a></td>  
               </tr>
            <% }  %>
          </table>
      </div>
<!----------------------->
<!------page finish----->
<!----------------------->


  <%- include('../partials/footer.ejs') %>
  </div>
  </div> 
  
  <!--JS section-->
  <script src='/jquery/dist/jquery.min.js'></script> <!--Jquery must before bootstrap for popover-->  
  <script src='/scripts/app.js'></script>
  <script src='/scripts/nav.js'></script>
  <script src='/popper.js/dist/umd/popper.min.js'></script>
  <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
  </body>

</html>




 